
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="../../resources/theme/css/style.css" >

</head>
<body>

<h1>Welcome to Trading Dashboard</h1>
 <div th:each="loggedInUser : ${loggedInUser}">
    <h2>Logged in as : <span th:text="${loggedInUser.getUserEmail()}"></span></h2>
</div>
<!-- <h2>Logged in as : th:text="${loggedInUser.getUserEmail()}"</h2>  -->
<br><br><br><br>
<div class="navbar">
	
	<a  class= "active"href="/dashboard">Home</a>
	<a href="/wallet">Sell Stock</a>
	<a href="/pendingOrders">Pending Orders</a>
	<a href="/history">Trading History</a>
	
	<form class="myForm1">
		<a href="/logout"  align="right" formaction="/logout">Logout</a>
	</form>
	
</div>
<br><br><br><br>
<table>
    <thead>
    <tr>
    <th> Stock ID </th>
    <th> Stock Name </th>
    <div th:each="exchange : ${exchanges}">
     <th><span th:text="${exchange.getExchangeName()}"></span></th>
	</div>
    
    <th> View </th>
    </thead>
    <tbody>
	<!-- <tr th:if="${stocks.empty}">
            <td colspan="2"> No stocks Available </td>
        </tr>-->
       
        <tr th:each="stock : ${stocks}">
            <td><span th:text="${stock.getStockId()}"> Stock ID </span></td>
            <td><span th:text="${stock.getStockName()}"> Stock Name </span></td>
            
            <td><span th:text="${stock.getAvailableFirst()}"> First Exchange </span></td>
            <td><span th:text="${stock.getAvailableSecond()}"> Second Exchange </span></td>
            <td><span th:text="${stock.getAvailableThird()}"> Third Exchange </span></td>
            <td><a th:href="@{/buyOrder/{stock_id}/stock(stock_id=${stock.getStockId()})}">Buy Stock</a></td>
        </tr>
        
    </tbody>
</table>
<!--  ><p>Email : <span  th:text="${#authentication.principal.email}"></span></p>-->

</body>
</html>