<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Trading History</title>
<link rel="stylesheet" type="text/css" href="../../resources/theme/css/style.css" >
<script src="https://kit.fontawesome.com/91b40a4e4e.js" crossorigin="anonymous"></script>

</head>
<body>
<h1>Welcome to Trading Dashboard</h1>
<div class="log" th:each="loggedInUser : ${loggedInUser}">
    <h2>Logged in as : <span th:text="${loggedInUser.getUserEmail()}"></span></h2>
</div>
<!-- <h2>Logged in as : th:text="${loggedInUser.getUserEmail()}"</h2>  -->
<br><br><br><br>

<div class="navbar">
	
	<a href="/dashboard"><i class="fas fa-home"></i> Home</a>
	<a href="/wallet"><i class="fas fa-wallet"></i></i> Sell Stock</a>
	<a href="/pendingOrders"><i class="fas fa-pause-circle"></i> Pending Orders</a>
	<a class="active" href="/history"><i class="fas fa-history"></i> Trading History</a>
	
	<form class="myForm1">
		<a href="/logout"  align="right" formaction="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
	</form>
	
</div>
<br><br><br><br>

<table>
    <thead>
    <tr>
    <th> Order ID </th>
    <th> Date </th>
     <th>Status</th>
     <th>Stock Amount</th>
     <th>Total Price</th>
     <th>Type</th>
     <th>Stock</th>
    </thead>
    <tbody>
	<!-- <tr th:if="${stocks.empty}">
            <td colspan="2"> No stocks Available </td>
        </tr>-->
       
        <tr th:each="pOrder : ${trades}">
            <td><span th:text="${pOrder.getOrderId()}"> Order ID </span></td>
            <td><span th:text="${pOrder.getFormattedOrderDate()}"> Date </span></td>
            <td><span th:text="${pOrder.getOrderStatus()}"> Status </span></td>      
            <td><span th:text="${pOrder.getOrderStockAmount()}"> Stock Amount </span></td>   
            <td><span th:text="${pOrder.getOrderTotalPrice()}">Total Price </span></td>   
            <td><span th:text="${pOrder.getOrderType()}"> Type </span></td>  
            <td><span th:text="${pOrder.getStock().getStockSymbol()}"> Stock </span></td>   
           <!--  <td><a th:href="@{/sellOrder/{userStockId}/userStock(userStockId=${userStock.getStock().getStockId()})}">Cancel</a></td>
            -->
        </tr>
        
    </tbody>
</table>
</body>
</html>