<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pending Orders</title>
<link rel="stylesheet" type="text/css" href="../../resources/theme/css/style.css" >
<script src="https://kit.fontawesome.com/91b40a4e4e.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Welcome to Trading Dashboard</h1>
<div th:each="loggedInUser : ${loggedInUser}">
    <h2>Logged in as : <span th:text="${loggedInUser.getUserEmail()}"></span></h2>
</div>
<!-- <h2>Logged in as : th:text="${loggedInUser.getUserEmail()}"</h2>  -->
<br><br><br><br>
<div class="navbar">
	
	<a href="/dashboard">Home</a>
	<a href="/wallet">Sell Stock</a>
	<a class="active" href="/pendingOrders">Pending Orders</a>
	<a href="/history">Trading History</a>
	
	<form class="myForm1">
		<a href="/logout"  align="right" formaction="/logout">Logout</a>
	</form>
	
</div>
<br><br><br><br>


<table>
    <thead>
    <tr>
    <th> Order ID </th>
    <th> Date </th>
     <th>Status</th>
     <th>Stock Amount</th>
     <th>Total Price</th>
     <th>Type</th>
     <th>Stock</th>
    <th> Cancel  </th>
    </thead>
    <tbody>
	<tr th:if="${pendingOrders.empty}">
			<td></td>
			<td></td>
			<td></td>
            <td colspan="2"><b>No Pending Orders</b> </td>
        </tr>
       
        <tr th:each="pOrder : ${pendingOrders}">
            <td><span th:text="${pOrder.getOrderId()}"> Order ID </span></td>
            <td><span th:text="${pOrder.getOrderDate()}"> Date </span></td>
            <td><span th:text="${pOrder.getOrderStatus()}"> Status </span></td>      
            <td><span th:text="${pOrder.getOrderStockAmount()}"> Stock Amount </span></td>   
            <td><span th:text="${pOrder.getOrderTotalPrice()}">Total Price </span></td>   
            <td><span th:text="${pOrder.getOrderType()}"> Type </span></td>  
            <td><span th:text="${pOrder.getStock().getStockSymbol()}"> Stock </span></td>   
            
           <td><a  th:href="@{/cancelOrder/{orderId}/order(orderId=${pOrder.getOrderId()})}"><i class="fas fa-trash-alt red-color"></i>

           </a></td>
           
        </tr>
        
    </tbody>
</table>
</body>
</html>