<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sell Stock</title>
<link rel="stylesheet" type="text/css" href="../../resources/theme/css/style.css" >

</head>
<body>
<h1>Sell Stock</h1>


<div class="navbar">
	
	<a href="/dashboard">Back To Dashboard</a>	
	<form class="myForm1">
		<a href="/logout"  align="right" formaction="/logout">Logout</a>
	</form>
	
</div>
<div th:each="loggedInUser : ${loggedInUser}">
    <h2>Balance : <span th:text="${loggedInUser.getFormattedBalance()}"></span></h2>
</div>

<div th:each="stockSymbol : ${stockSymbol}">
   <h2>Stock : <span th:text="${stockSymbol}"></span></h2>
</div>
<div th:each="userStock : ${userStock}">

<h2>Amount in Wallet : <span th:text="${userStock}"></span></h2>

<form class="myForm" th:action="@{/sellStock}"method="post">
  
  <div class="container">
    <label for="amount"><b>Sell Amount:</b></label>
     <select id="stockAmount" name="stockAmount">
    <option th:each="i : ${#numbers.sequence(1, userStock)}" th:value="${i}" th:text="${i}" ></option>
	</select>

    <button type="submit">Place Order</button>
   
  </div>

</form>
</div>
</body>
</html>