<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Stock</title>
<link rel="stylesheet" type="text/css" href="../../resources/theme/css/style.css" >

</head>
<body>
<h1>View Stock</h1>


<div class="navbar">
	
	<a href="/dashboard">Back To Dashboard</a>	
	<form class="myForm1">
		<a href="/logout"  align="right" formaction="/logout">Logout</a>
	</form>
	
</div>
<div th:each="loggedInUser : ${loggedInUser}">
    <h2>Balance : <span th:text="${loggedInUser.getUserBalance()}"></span></h2>
</div>
<div th:each="stock : ${stock}">
<h2>The stock is : <span th:text="${stock.getStockSymbol()}"></span></h2>

</div>
</body>
</html>