<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Wallet</title>
<link rel="stylesheet" type="text/css" href="../../resources/theme/css/style.css" >
<script src="https://kit.fontawesome.com/91b40a4e4e.js" crossorigin="anonymous"></script>

</head>
<body>
<h1>Welcome to Trading Dashboard</h1>
<div class="log" th:each="loggedInUser : ${loggedInUser}">
    <h2>Logged in as : <span th:text="${loggedInUser.getUserEmail()}"></span></h2>
</div>
<!-- <h2>Logged in as : th:text="${loggedInUser.getUserEmail()}"</h2>  -->




<br><br><br><br>

<div class="navbar">
	
	<a href="/dashboard"><i class="fas fa-home"></i> Home</a>
	<a class="active" href="/wallet"><i class="fas fa-wallet"></i></i> Sell Stock</a>
	<a href="/pendingOrders"><i class="fas fa-pause-circle"></i> Pending Orders</a>
	<a href="/history"><i class="fas fa-history"></i> Trading History</a>
	
	<form class="myForm1">
		<a href="/logout"  align="right" formaction="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
	</form>
	
</div>


<h1>Wallet</h1>
<div th:each="ballance : ${ballance}">
    <h2>Balance : <span th:text="${ballance}"></span></h2>
</div>
<br><br>
<table>
    <thead>
    <tr>
    <th> Stock ID </th>
    <th> Stock Name </th>
     <th>Stock Amount</th>
	</div>
    
    <th> Sell  </th>
    </thead>
    <tbody>
       
        <tr th:each="userStock : ${userStocks}">
            <td><span th:text="${userStock.getStock().getStockId()}"> Stock ID </span></td>
            <td><span th:text="${userStock.getStock().getStockSymbol()}"> Stock Name </span></td>
            <td><span th:text="${userStock.getStockAmount()}"> Stock Amount </span></td>
            <th:block th:if="${userStock.getStockAmount() gt 1.0}">         
            	<td><a th:href="@{/sellOrder/{userStockId}/userStock(userStockId=${userStock.getStock().getStockId()})}">Sell</a></td>
            </th:block> 
        </tr>
        
    </tbody>
</table>
<br><br><br><br>
</body>
</html>